.task-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
  margin-bottom: 15px;
  border-left: 5px solid var(--color-pendientes);
}

.task-item.completed {
  background-color: #ffffff;
  border-left: 5px solid var(--color-completadas);
}

.task-item.completed span {
  text-decoration: none;
  color: var(--texto-principal);
}

.task-item span {
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  color: var(--texto-principal);
}

.task-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.task-info small {
  color: var(--texto-secundario);
  margin-top: 5px;
}

.icons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.check-btn,
.edit-btn,
.delete-btn {
  background: transparent;
  color: var(--color-principal);
  padding: 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.check-btn:hover,
.edit-btn:hover {
  background-color: var(--color-principal);
  color: var(--texto-principal);
}

.delete-btn:hover {
  background-color: var(--color-vencidas);
  color: #ffffff;
}
