.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-form input,
.task-form select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--color-principal);
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
  color: var(--texto-principal);
}

.task-form input:focus,
.task-form select:focus {
  border-color: var(--color-principal);
}

.task-form button {
  background-color: var(--color-principal);
  color: var(--texto-principal);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.task-form button:hover {
  background-color: #BBDEFB;
  transform: scale(1.05);
}
