.task-search {
  width: 100%;
}

.task-search input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--color-principal);
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
  color: var(--texto-principal);
}

.task-search input:focus {
  border-color: var(--color-principal);
}
